<div class="content-page" style="display: block;">

  <div class="content">
    <div class="container-fluid">

      <div class="row">
        <div class="col-sm-12">
          <div class="page-title-box">
            <h4 class="page-title">pending campaigns</h4>
            <ol class="breadcrumb float-right">
              <li class="breadcrumb-item">
                <a href="/">COMOBA</a>
              </li>
              <li class="breadcrumb-item">Campaigns</li>
              <li class="breadcrumb-item active">pending</li>
            </ol>
            <div class="clearfix"></div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-lg-12">
          <div class="card-box">

            <table class="table mb-0" id="comoba-list">
              <thead>
                <tr>
                  <th>#</th>
                  <th>Campaign name</th>
                  <th>Start Date</th>
                  <th>Due Date</th>
                  <th>Actions</th>
                </tr>
              </thead>
              <tbody>

              </tbody>
            </table>
          </div>
        </div>

      </div>

    </div>

  </div>

  <script>
    var tplCampaignListType = "pending";
  </script>

<!-- campaigns - moderation -->

<!-- </div>
<div class="content-page" style="display: block;">
  
  <div class="content">
      <div class="container-fluid">

          
          <div class="row">
              <div class="col-sm-12">
                  <div class="page-title-box">
                      <h4 class="page-title">moderation campaigns</h4>
                      <ol class="breadcrumb float-right">
                          <li class="breadcrumb-item"><a href="/">COMOBA</a></li>
                          <li class="breadcrumb-item">Campaigns</li>
                          <li class="breadcrumb-item active">moderation</li>
                      </ol>
                      <div class="clearfix"></div>
                  </div>
              </div>
          </div>


          
          
          <div class="row">
              <div class="col-lg-12">
                  <div class="card-box">

                      <table class="table mb-0" id="comoba-list">
                          <thead>
                          <tr>
                              <th>#</th>
                              <th>Campaign name</th>
                              <th>Start Date</th>
                              <th>Due Date</th>
                              <th>Actions</th>
                          </tr>
                          </thead>
                          <tbody>

                          </tbody>
                      </table>
                  </div>
              </div>

          </div>
          
          
          


      </div>
      
  </div>
  


<script>
var tplCampaignListType = "moderation";
</script>


</div> -->

<!-- campaigns - active -->

<!-- <div class="content-page" style="display: block;">
  
  <div class="content">
      <div class="container-fluid">

          
          <div class="row">
              <div class="col-sm-12">
                  <div class="page-title-box">
                      <h4 class="page-title">active campaigns</h4>
                      <ol class="breadcrumb float-right">
                          <li class="breadcrumb-item"><a href="/">COMOBA</a></li>
                          <li class="breadcrumb-item">Campaigns</li>
                          <li class="breadcrumb-item active">active</li>
                      </ol>
                      <div class="clearfix"></div>
                  </div>
              </div>
          </div>


          

          
          <div class="row" id="comoba-list-cards">
              
              
          </div>
          
          


      </div>
      
  </div>
  


<script>
var tplCampaignListType = "active";
</script>


</div> -->

<!-- campaigns - finished -->
<!-- <div class="content-page" style="display: block;">
  
  <div class="content">
      <div class="container-fluid">

          
          <div class="row">
              <div class="col-sm-12">
                  <div class="page-title-box">
                      <h4 class="page-title">finished campaigns</h4>
                      <ol class="breadcrumb float-right">
                          <li class="breadcrumb-item"><a href="/">COMOBA</a></li>
                          <li class="breadcrumb-item">Campaigns</li>
                          <li class="breadcrumb-item active">finished</li>
                      </ol>
                      <div class="clearfix"></div>
                  </div>
              </div>
          </div>


          
          
          <div class="row">
              <div class="col-lg-12">
                  <div class="card-box">

                      <table class="table mb-0" id="comoba-list">
                          <thead>
                          <tr>
                              <th>#</th>
                              <th>Campaign name</th>
                              <th>Start Date</th>
                              <th>Due Date</th>
                              <th>Actions</th>
                          </tr>
                          </thead>
                          <tbody>

                          </tbody>
                      </table>
                  </div>
              </div>

          </div>
          
          
          


      </div>
      
  </div>
  


<script>
var tplCampaignListType = "finished";
</script>


</div> -->

<!-- campaigns - archived -->

<!-- <div class="content-page" style="display: block;">
  
  <div class="content">
      <div class="container-fluid">

          
          <div class="row">
              <div class="col-sm-12">
                  <div class="page-title-box">
                      <h4 class="page-title">archived campaigns</h4>
                      <ol class="breadcrumb float-right">
                          <li class="breadcrumb-item"><a href="/">COMOBA</a></li>
                          <li class="breadcrumb-item">Campaigns</li>
                          <li class="breadcrumb-item active">archived</li>
                      </ol>
                      <div class="clearfix"></div>
                  </div>
              </div>
          </div>


          
          
          <div class="row">
              <div class="col-lg-12">
                  <div class="card-box">

                      <table class="table mb-0" id="comoba-list">
                          <thead>
                          <tr>
                              <th>#</th>
                              <th>Campaign name</th>
                              <th>Start Date</th>
                              <th>Due Date</th>
                              <th>Actions</th>
                          </tr>
                          </thead>
                          <tbody>

                          </tbody>
                      </table>
                  </div>
              </div>

          </div>
          
          
          


      </div>
      
  </div>
  


<script>
var tplCampaignListType = "archived";
</script>


</div> -->