<div class="topbar">
    
                    
                    <div class="topbar-left">
                        <div class="text-center">
                            <a href="index.html" class="logo"> <span>COMOBA</span></a>
                        </div>
                    </div>
    
                    
                    <nav class="navbar-custom">
    
                        <ul class="list-inline float-right mb-0">
    
                            
                            <li class="list-inline-item notification-list hide-phone">
                                <a class="nav-link waves-light waves-effect" href="#" id="btn-fullscreen">
                                    <i class="mdi mdi-crop-free noti-icon"></i>
                                </a>
                            </li>
    
                            <li class="list-inline-item dropdown notification-list">
                                <a class="nav-link dropdown-toggle arrow-none waves-light waves-effect" data-toggle="dropdown" href="#" role="button" aria-haspopup="false" aria-expanded="false">
                                    <i class="mdi mdi-bell noti-icon"></i>
                                    <span class="badge badge-pink noti-icon-badge">4</span>
                                </a>
                                <div class="dropdown-menu dropdown-menu-right dropdown-arrow dropdown-menu-lg" aria-labelledby="Preview">
                                    
                                    <div class="dropdown-item noti-title">
                                        <h5 class="font-16">welcome, elena.zuokaite</h5>
                                    </div>
    
                                    
                                    <a href="javascript:void(0);" class="dropdown-item notify-item">
                                        <div class="notify-icon bg-info"><i class=" mdi mdi-play"></i></div>
                                        <p class="notify-details">MasterCard Debit Campaign started <small class="text-muted">1 min ago</small></p>
                                    </a>
    
                                    
                                    <a href="javascript:void(0);" class="dropdown-item notify-item">
                                        <div class="notify-icon bg-success"><i class=" mdi mdi-flag-checkered"></i></div>
                                        <p class="notify-details">Lease campaign finished<small class="text-muted">10 mins ago</small></p>
                                    </a>
    
                                    
                                    <a href="javascript:void(0);" class="dropdown-item notify-item">
                                        <div class="notify-icon bg-danger"><i class="mdi mdi-clock-alert"></i></div>
                                        <p class="notify-details">Campaign finishing tomorrow <small class="text-muted">1 min ago</small></p>
                                    </a>
    
                                    
                                    <a href="javascript:void(0);" class="dropdown-item notify-item notify-all">
                                        View All
                                    </a>
    
                                </div>
                            </li>
    
                            <li class="list-inline-item dropdown notification-list">
                                <a class="nav-link dropdown-toggle waves-effect waves-light nav-user" data-toggle="dropdown" href="#" role="button" aria-haspopup="false" aria-expanded="false">
                                    <img src="https://lh3.googleusercontent.com/-XdUIqdMkCWA/AAAAAAAAAAI/AAAAAAAAAAA/4252rscbv5M/photo.jpg" alt="user" class="rounded-circle">
                                </a>
                                <div class="dropdown-menu dropdown-menu-right profile-dropdown" aria-labelledby="Preview" x-placement="bottom-end" style="position: absolute; transform: translate3d(60px, 69px, 0px); top: 0px; left: 0px; will-change: transform;">
                                    
                                    <div class="dropdown-item noti-title">
                                        <h5 class="text-overflow">welcome, elena.zuokaite</h5>
                                    </div>
    
                                    
                                    <a href="/userprofile" class="dropdown-item notify-item">
                                        <i class="mdi mdi-account-star-variant"></i> <span>Profile</span>
                                    </a>
    
                                    
                                    <a href="javascript:void(0);" class="dropdown-item notify-item" id="btn-logout">
                                        <i class="mdi mdi-logout"></i> <span>Logout</span>
                                    </a>
    
                                </div>
                            </li>
    
                        </ul>
    
                        <ul class="list-inline menu-left mb-0">
                            <li class="float-left">
                                <button class="button-menu-mobile open-left waves-light waves-effect">
                                    <i class="mdi mdi-menu"></i>
                                </button>
                            </li>
                        </ul>
    
                    </nav>
    
                </div>


               