.topbar {
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 999; }
  .topbar .topbar-left {
    float: left;
    position: relative;
    width: 240px;
    z-index: 1;
    background-color: #343c49; }
  .topbar .topbar-left-sm {
    width: 180px; }
  .topbar .topbar-left-sm + .navbar-custom {
    margin-left: 180px; }
.logo {
      color: #ffffff !important;
      font-size: 20px;
      font-weight: 700;
      letter-spacing: .05em;
      line-height: 70px;
      text-transform: uppercase; }
      .logo h1 {
        height: 50px;
        margin: 0 auto;
        text-align: center; }
      .logo i {
        color: #039cfd; }
      .logo .icon-c-logo {
        display: none; }
.navbar-custom {
    background-color: #343c49;
    border-radius: 0;
    margin-bottom: 0;
    padding: 0 10px 0 0;
    margin-left: 240px;
    min-height: 70px; }
    .navbar-custom .nav-link {
      padding: 0;
      line-height: 70px;
      color: rgba(255, 255, 255, 0.6); }
    .navbar-custom .dropdown-toggle:after {
      content: initial; }
    .navbar-custom .menu-left {
      overflow: hidden; }


 .notification-list {
    margin-left: 0 !important; }
    .notification-list .noti-title {
      margin-bottom: 0;
      width: auto;
      padding: 12px 20px; }
      .notification-list .noti-title h5 {
        margin: 0; }
      .notification-list .noti-title .label {
        float: right; }
    .notification-list .noti-icon {
      font-size: 18px;
      padding: 0 12px;
      vertical-align: middle;
      color: rgba(255, 255, 255, 0.8); }
    .notification-list .noti-icon-badge {
      display: inline-block;
      position: absolute;
      top: 14px;
      right: 8px; }
    .notification-list .notify-item {
      padding: 10px 20px; }
      .notification-list .notify-item .notify-icon {
        float: left;
        height: 36px;
        width: 36px;
        line-height: 36px;
        text-align: center;
        margin-right: 10px;
        border-radius: 50%;
        color: #ffffff; }
        .notification-list .notify-item .notify-icon img {
          margin-top: 4px; }
      .notification-list .notify-item .notify-details {
        margin-bottom: 0;
        overflow: hidden;
        margin-left: 45px;
        text-overflow: ellipsis;
        white-space: nowrap; }
        .notification-list .notify-item .notify-details b {
          font-weight: 500; }
        .notification-list .notify-item .notify-details small {
          display: block; }
        .notification-list .notify-item .notify-details span {
          display: block;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
          font-size: 13px; }
    .notification-list .notify-all {
      border-radius: 0 0 0.25rem 0.25rem;
      margin: 0 0 -5px 0;
      background-color: #eeeeee; }
    .notification-list .profile-dropdown .notify-item {
      padding: 4px 20px; }


 .profile-dropdown {
    width: 170px; }
    .profile-dropdown i {
      font-size: 17px;
      vertical-align: middle;
      margin-right: 5px; }
    .profile-dropdown span {
      vertical-align: middle; }

.nav-user {
    padding: 0 12px !important; }
    .nav-user img {
      height: 36px;
      width: 36px; }

.button-menu-mobile {
  border: none;
  color: #ffffff;
  display: inline-block;
  height: 70px;
  width: 60px;
  background-color: #343c49;
  font-size: 24px; }