.notification-list {
    margin-left: 0 !important; }
     .noti-title {
      margin-bottom: 0;
      width: auto;
      padding: 12px 20px; }
       .noti-title h5 {
        margin: 0; }
       .noti-title .label {
        float: right; }
     .noti-icon {
      font-size: 18px;
      padding: 0 12px;
      vertical-align: middle;
      color: rgba(255, 255, 255, 0.8); }
     .noti-icon-badge {
      display: inline-block;
      position: absolute;
      top: 14px;
      right: 8px; }
    .notify-item {
      padding: 10px 20px; }
       .notify-icon {
        float: left;
        height: 36px;
        width: 36px;
        line-height: 36px;
        text-align: center;
        margin-right: 10px;
        border-radius: 50%;
        color: #ffffff; }
         .notify-icon img {
          margin-top: 4px; }
       .notify-details {
        margin-bottom: 0;
        overflow: hidden;
        margin-left: 45px;
        text-overflow: ellipsis;
        white-space: nowrap; }
         .notify-details b {
          font-weight: 500; }
         .notify-details small {
          display: block; }
         .notify-details span {
          display: block;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
          font-size: 13px; }
     .notify-all {
      border-radius: 0 0 0.25rem 0.25rem;
      margin: 0 0 -5px 0;
      background-color: #eeeeee; }
     .profile-dropdown .notify-item {
      padding: 4px 20px; }


