             <!-- item-->
             <a href="javascript:void(0);" class="dropdown-item notify-item">
                <div class="notify-icon bg-success">
                    <i class="mdi mdi-comment-account"></i>
                </div>
                <p class="notify-details">Robert S. Taylor commented on Admin
                    <small class="text-muted">1 min ago</small>
                </p>
            </a>

            <!-- item-->
            <a href="javascript:void(0);" class="dropdown-item notify-item">
                <div class="notify-icon bg-info">
                    <i class="mdi mdi-account"></i>
                </div>
                <p class="notify-details">New user registered.
                    <small class="text-muted">1 min ago</small>
                </p>
            </a>

            <!-- item-->
            <a href="javascript:void(0);" class="dropdown-item notify-item">
                <div class="notify-icon bg-danger">
                    <i class="mdi mdi-airplane"></i>
                </div>
                <p class="notify-details">Carlos Crouch liked
                    <b>Admin</b>
                    <small class="text-muted">1 min ago</small>
                </p>
            </a>